.menu-wrap {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px hsl(0, 100%, 50%);
}

.menu-wrap .hamburger>section {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease;
}

.menu-wrap .hamburger>section::before,
.menu-wrap .hamburger>section::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger>section::after {
    top: 10px;
}

.menu-wrap .toggler:checked+.hamburger>section {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked+.hamburger>section:before,
.menu-wrap .toggler:checked+.hamburger>section:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover+.hamburger>section {
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked~.menu>ul {
    width: 50%;
}

.menu-wrap .menu>ul {
    width: 0;
    height: 100%;
    background: rgb(0, 0, 0);
    overflow: hidden;
}

.menu-wrap .menu>ul>li {
    list-style: none;
}

.menu-wrap .menu>ul>li>a {
    color: darkgrey;
    text-decoration: none;
    transition: 1s ease;
}

.menu-wrap .menu>ul>li>a>i {
    color: white;
}

.menu-wrap .menu>ul>li>a:hover {
    color: white;
}

.menu-wrap .menu>ul>li>.active {
    color: white;
}

@media screen and (max-width: 468px) {
    .menu-wrap {
        display: block;
    }
}